<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>MyServlet</servlet-class>

        <description>Ma première servlet</description>

        <init-param>
            <param-name>LaTeamJEE</param-name>
            <param-value>Coyote</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyServlet2</servlet-name>
        <servlet-class>Servlet2</servlet-class>

        <description>deuxieme essai</description>

        <init-param>
            <param-name>LaTeamJEE</param-name>
            <param-value>Coyote</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>MyServlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_etat_des_charges</servlet-name>
        <servlet-class>Servlet_etat_des_charges</servlet-class>

        <description>Etat des charges</description>

        <init-param>
            <param-name>LaTeamJEE</param-name>
            <param-value>Coyote</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_etat_des_charges</servlet-name>
        <url-pattern>/etat_des_charges</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_admin_categorie</servlet-name>
        <servlet-class>com.sdzee.servlets.Servlet_admin_categorie</servlet-class>

        <description>Admin : Gestion des catégories</description>

        <init-param>
            <param-name>LaTeamJEE</param-name>
            <param-value>Coyote</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_admin_categorie</servlet-name>
        <url-pattern>/admin_categorie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_admin_gestionUtilisateurs</servlet-name>
        <servlet-class>com.sdzee.servlets.Servlet_admin_gestionUtilisateurs</servlet-class>

        <description>Admin : Gestion des utilisateurs</description>

        <init-param>
            <param-name>LaTeamJEE</param-name>
            <param-value>Coyote</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_admin_gestionUtilisateurs</servlet-name>
        <url-pattern>/admin_gestionUtilisateurs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_admin_groupe_charges</servlet-name>
        <servlet-class>com.sdzee.servlets.Servlet_admin_groupe_charges</servlet-class>

        <description>Admin : Groupes de charges</description>

        <init-param>
            <param-name>LaTeamJEE</param-name>
            <param-value>Coyote</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_admin_groupe_charges</servlet-name>
        <url-pattern>/admin_groupe_charges</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_admin_interrupteur</servlet-name>
        <servlet-class>com.sdzee.servlets.Servlet_admin_interrupteur</servlet-class>

        <description>Admin : Interrupteur</description>

        <init-param>
            <param-name>LaTeamJEE</param-name>
            <param-value>Coyote</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_admin_interrupteur</servlet-name>
        <url-pattern>/admin_interrupteur</url-pattern>
    </servlet-mapping>

</web-app>